body {
    color: #333333;
    margin: 10px auto;
    max-width: 500px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 10px 0px;
    color: #333333;
    font-size: 20px;
    
}


header h2 {
    text-decoration: line-through;
    color: #888888;
    font-size: 43px;
}


header a {
    color: #999999;
    text-decoration: none;
    margin-right: 10px;
    
}


p {
    padding: 5px;
    color: #222222;
}

footer p{
    color: #555555;
    border-top: 1px solid #333333;
    padding-top: 40px;
    
}

#header_anker {
    text-decoration: underline darkkhaki;
    padding: 3px;
    border-radius: 3px;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid #dddddd;
    padding: 8px;
    margin: 2px;
    color: darkred;
}
button{
    cursor: pointer;
    background-color: #888888;
    border: 1px solid #888888;
    border-radius: 2px;
    padding: 8px;
    color: white;
    margin: 2px;
    font-size: 12px;

}

#msgOne {
    text-decoration: underline;
}

body div h1 {
    color: #555555;
    font-size: x-large;
}