<!DOCTYPE html>
<html>
<head>
    <title>404-error</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" type="text/css"> 
    <style src="/js/Inspect_app.js"></style>
</head>

<body style="background-color: black; color: white;">
    <div class="main-content">
        {{>header}}
        <p>{{errormsg}}</p> 
    </div>

    {{>footer}}
</body>

</html>