<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" type="text/css"> 
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1 class="about_header">This usage the data from mapbox and one weather!</h1>    
        <h2>about {{name}}</h2>
        <p>contact developer--> {{contact}}</p>
    </div>
    {{>footer}}
</body>

</html>