<!DOCTYPE html>
<html>
<head>
    <title>help</title>
    <link rel="stylesheet" href="./css/style.css" type="text/css"> 
    <link rel="icon" href="/img/weather.png">
</head>

<body>
     <div class="main-content">
        {{>header}}
        <h1>Which type of help do You Want?</h1>
        <p>First : {{title}}</p><br><br><br>
        <p>second :{{title1}}</p>    
     </div>

    {{>footer}}
</body>

</html>