<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" type="text/css"> 
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>it is the indian weather service which is available to show the weather! </h1>    
        <h2>about {{name}}</h2>
        <p>contact developer--> {{contact}}</p>
    </div>
    {{>footer}}
</body>

</html>