<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css" type="text/css"> 
</head>

<body style="background-color: black; color: white;">
    <div class="main-content">
        {{>header}}
        <h1 class="about_header">This usage the data from mapbox and one weather!</h1>    
        <h2>About {{name}}</h2>
        <br>
        <p>Mail &nbsp; {{mail}}</p>
    </div>
    {{>footer}}
</body>

</html>